<h1>Your Wishlist</h1>

{% if items %}
    <ul>
    {% for item in items %}
        <li>
            <strong>{{ item.item }}</strong> - {{ item.category }}
            {% if item.subcategory %} - {{ item.subcategory }}{% endif %}
            {% if item.edition %} - {{ item.edition }}{% endif %}
            {% if item.brand %} - {{ item.brand }}{% endif %}
            {% if item.year %} - {{ item.year }}{% endif %}
            {% if item.condition %} - {{ item.condition }}{% endif %}
            {% if item.desired_price %}
                - Desired Price: ${{ item.desired_price|floatformat:2 }}
            {% else %}
                - <em>No desired price set</em>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items in your wishlist yet!</p>
{% endif %}


